name: Build Godot HTML5

on:
  push:
    branches: [main]

env:
  GODOT_VERSION: 4.5.1
  GODOT_RELEASE_NAME: stable

jobs:
  export-web:
    name: Web Export
    runs-on: ubuntu-24.04
    container:
      image: fczuardi/godot-ci:4.5.1
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.${GODOT_RELEASE_NAME} ~/.local/share/godot/export_templates/${GODOT_VERSION}.${GODOT_RELEASE_NAME}
      - name: Web Build
        run: |
          mkdir -v -p build/web
          EXPORT_DIR="$(readlink -f build)"
          godot --headless --verbose --export-release "Web" "$EXPORT_DIR/web/index.html"
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: web
          path: build/web
      - name: Setup butler
        uses: remarkablegames/setup-butler@v2
      - name: Upload to itch.io
        run: |
          butler push "build/web" ${{ vars.ITCHIO_USERNAME }}/${{ vars.ITCHIO_GAME }}:html5
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
